<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
    <div class="w3-container">
        <a href="#" onclick="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-padding w3-hover-grey"
           title="close menu">
            <i class="fa fa-remove"></i>
        </a>
        <h4><b>PartnerFind</b></h4>
        <p class="w3-text-grey">Tu app para buscar partida Commander</p>
    </div>
    <div class="w3-bar-block">
        <a href="{% url 'index' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-padding
        {% if current_url == 'index' %}w3-text-teal{% endif %}"><i
                class="fa fa-th-large fa-fw w3-margin-right"></i>INICIO</a>
        <a href="{% url 'create-match' %}" onclick="w3_close()" class="w3-bar-item w3-button w3-padding
        {% if current_url == 'create-match' %}w3-text-teal{% endif %}"><i
                class="fa fa-envelope fa-fw w3-margin-right"></i>CREAR PARTIDA</a>
        <a href="{% url 'register' %}" onclick="w3_close()" class="w3-bar-item w3-button
        {% if current_url == 'register' %}w3-text-teal{% endif %}"><i
                class="fa fa-user fa-fw w3-margin-right"></i>Mi PartnerFind</a>
    </div>
</nav>
<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer"
     title="close side menu" id="myOverlay"></div>
<script>
    // Script to open and close sidebar
    function w3_open() {
        document.getElementById("mySidebar").style.display = "block";
        document.getElementById("myOverlay").style.display = "block";
    }

    function w3_close() {
        document.getElementById("mySidebar").style.display = "none";
        document.getElementById("myOverlay").style.display = "none";
    }
</script>